@import url('https://fonts.googleapis.com/css2?family=Anton&family=Anton+SC&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #000;
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  box-shadow: 0 4px 2px -2px gray;

  top: 0;
  left: 0;
  z-index: 1000;
  height: 100px;

}

.navbar a {
  margin-right: 0;
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  transition: all 0.3s ease-in-out;
  margin-right: 1px;
  margin-left: 0px;
}

.navbar a:hover {
  transform: scale(1.1);
  text-decoration: underline;
}

.navbar a img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1;
  border-color: white;
  object-fit: cover;

}

.logo {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  margin-right: 50%;
  margin-left: 5%;
}

.logo img {
  width: 72px;
  height: 78px;
}

.logo p {
  font-family: "Anton", sans-serif;
  font-size: 36px;
  margin-top: 18px;
}

.logo:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.logout {
  cursor: pointer;
}



.content {
  justify-self: center;
  margin-left: 1%;
  width: 222.41px;
}

.botao {
  align-content: center;
  align-self: center;
  align-items: center;
  justify-items: center;
  justify-content: center;
  justify-self: center;
}

.conteudo {
  display: flex;
  justify-self: center;
  margin-bottom: 2%;
  border-bottom: 1px solid black;


}

.content input {
  width: 12%;
}

.btn {
  margin-top: 1%;
  margin-bottom: 1%;
  justify-content: center;
  justify-self: center;
}

.container {
  margin-top: 12%;
}

.imgProduto {
  height: 219px;
  width: 200px;
  border-radius: 15px;
  margin-right: 10px;
}

button {
  background-color: black;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-bottom: 10px;
  cursor: pointer;
}

/* LOADING
/* Overlay do loading */
#loading-overlay {
  position: fixed;
  /* Ocupa toda a tela */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  /* Fundo escuro semi-transparente */
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  /* Mantém o overlay acima de todos os elementos */
  color: #fff;
  font-family: Arial, sans-serif;
}

/* Estilo do spinner */
.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(255, 255, 255, 0.3);
  border-top: 5px solid #ffffff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

/* Animação do spinner */
@keyframes spin {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}

/* Texto do loading */
#loading-overlay p {
  margin-top: 10px;
  font-size: 18px;
}
/* LOADING